<!doctype html>
<html lang="en">

<head>
    <link href="../static/assets/img/heart.ico" rel="shortcut icon" type="image/x-icon"/>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>心卫士</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="icon" type="image/png" href="../static/assets/i/favicon.css">
    <link rel="apple-touch-icon-precomposed" href="../static/assets/i/app-icon72x72@2x.css">
    <meta name="apple-mobile-web-app-title" content="Amaze UI">
    <link rel="stylesheet" href="../static/assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../static/assets/css/admin.css">
    <link rel="stylesheet" href="../static/assets/css/app.css">
    <script src="../static/assets/js/echarts.min.js"></script>

    {#    <script type="text/javascript">#}
    {#        if ({{ .success}} == "true"){#}
    {#            alert("登录成功");#}
    {#        }#}
    {#    </script>#}
</head>

<body data-type="index">


<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:" class="tpl-logo">
            <img src="../static/assets/img/heart_logo.png" alt="">
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:">
                    <span class="am-icon-bell-o"></span> 提醒 <span class="am-badge tpl-badge-success am-round">5</span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-success">5</span> 条提醒</h3><a href="">全部</a></li>
                    <li class="tpl-dropdown-list-bdbc"><a href="" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-plus tpl-dropdown-ico-btn-size tpl-badge-success"></span>
                        【警报】心率超出正常值</a>
                        <span class="tpl-dropdown-list-fr">3小时前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-check tpl-dropdown-ico-btn-size tpl-badge-danger"></span> 获取健康咨询</a>
                        <span class="tpl-dropdown-list-fr">15分钟前</span>
                    </li>
                    <li class="tpl-dropdown-list-bdbc"><a href="" class="tpl-dropdown-list-fl"><span
                            class="am-icon-btn am-icon-bell-o tpl-dropdown-ico-btn-size tpl-badge-warning"></span> 均衡饮食</a>
                        <span class="tpl-dropdown-list-fr">2天前</span>
                    </li>
                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:">
                    <span class="am-icon-comment-o"></span> 消息 <span class="am-badge tpl-badge-danger am-round">9</span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-danger">9</span> 条新消息</h3><a href="">全部</a></li>
                    <li>
                        <a href="" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="../static/assets/img/user02.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> 张医生 </span>
                                <span class="tpl-dropdown-content-time">10分钟前 </span>
                                </span>
                            <span class="tpl-dropdown-content-font"> 保养，是指遵循生命法则，通过适度运动，加之外在护理等手段，让身体机能及外在皮肤得以休养生息，恢复应有机能，这是养生的第一层面 </span>
                        </a>
                        <a href="" class="tpl-dropdown-content-message">
                                <span class="tpl-dropdown-content-photo">
                      <img src="../static/assets/img/user03.png" alt=""> </span>
                            <span class="tpl-dropdown-content-subject">
                      <span class="tpl-dropdown-content-from"> Steam </span>
                                <span class="tpl-dropdown-content-time">18分钟前</span>
                                </span>
                            <span class="tpl-dropdown-content-font"> 养生学是一门涉及诸多学科的综合科学，它包括中华中医学、康复学、营养学、美学、心理学、国学、物理学、化学、艺术、烹饪、运动学、道学等等 </span>
                        </a>
                    </li>

                </ul>
            </li>
            <li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:">
                    <span class="am-icon-calendar"></span> 进度 <span class="am-badge tpl-badge-primary am-round">4</span>
                </a>
                <ul class="am-dropdown-content tpl-dropdown-content">
                    <li class="tpl-dropdown-content-external">
                        <h3>你有 <span class="tpl-color-primary">4</span> 个任务进度</h3><a href="">全部</a></li>
                    <li>
                        <a href="javascript:" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">晨练2小时 </span>
                                <span class="percent">45%</span>
                                </span>
                            <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped"><div
                                class="am-progress-bar am-progress-bar-success" style="width:45%"></div></div>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">新闻内容页 </span>
                                <span class="percent">30%</span>
                                </span>
                            <span class="progress">
                       <div class="am-progress tpl-progress am-progress-striped"><div
                               class="am-progress-bar am-progress-bar-secondary" style="width:30%"></div></div>
                    </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:" class="tpl-dropdown-content-progress">
                                <span class="task">
                        <span class="desc">听音乐 </span>
                                <span class="percent">60%</span>
                                </span>
                            <span class="progress">
                        <div class="am-progress tpl-progress am-progress-striped">
                            <div class="am-progress-bar am-progress-bar-warning" style="width:60%"></div>
                        </div>
                    </span>
                        </a>
                    </li>

                </ul>
            </li>

            <li class="am-dropdown" data-am-dropdown="" data-am-dropdown-toggle="">
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:">
                    <span class="tpl-header-list-user-nick">小张</span><span class="tpl-header-list-user-ico">
                    <img src="../static/assets/img/user01.png" alt=""></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href=""><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href=""><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a href=""><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>


<div class="tpl-page-container tpl-page-header-fixed">


    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            列表
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('index') }}" class="nav-link active">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('chart') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-bar-chart"></i>
                        <span>数据表</span>
                        <i class="tpl-left-nav-content tpl-badge-danger">
                            12
                        </i>
                    </a>
                </li>

                <li class="tpl-left-nav-item">
                    <a href="{{ url_for('login') }}" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>登录</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tpl-content-wrapper">
        <ol class="am-breadcrumb">
            <li><a href="/home" class="am-icon-home">首页</a></li>
            <li><a href="">分类</a></li>
            <li class="am-active">内容</li>
        </ol>
        <div class="tpl-content-scope">
            <div class="note note-info">
                <h3>心卫士 守护您的心
                    <span class="close" data-close="note"></span>
                </h3>
                <p>心卫士无时无刻都关注着您的健康，心电图智能分析云平台联合各级医院共享数据，根据已有的心电图数据，结合深度学习算法，给出推荐诊断</p>
                <p><span class="label label-danger">提示:</span> 您可以查看亲友的健康状况，当健康出现异常时会发出警报。
                </p>
            </div>
        </div>

        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-clock-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 1349s</div>
                        <div class="desc"> 运动时间</div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="am-icon-heart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 88%</div>
                        <div class="desc"> 健康指数</div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="am-icon-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 65</div>
                        <div class="desc"> 平均心率</div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-warning"></i>
                    </div>
                    <div class="details">
                        <div class="number"> 0</div>
                        <div class="desc"> 警报</div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="am-u-md-6 am-u-sm-12 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <i class="am-icon-cloud-download"></i>
                            <span> 心卫士数据统计</span>
                            <a href="index.html"> 查看详情</a>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="red">昨天</li>
                                <li class="green-on">今天</li>
                                <li class="blue">本周</li>
                            </ul>
                        </div>
                    </div>
                    <!--此部分数据请在 js文件夹下中的 app.js 中的 “百度图表A” 处修改数据 插件使用的是 百度echarts-->
                    <div class="tpl-echarts" id="heart"></div>

                </div>
            </div>
            <div class="am-u-md-6 am-u-sm-12 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-red ">
                            <i class="am-icon-bar-chart"></i>
                            <span> 亲友动态资料</span>
                        </div>
                        <div class="actions">
                            <ul class="actions-btn">
                                <li class="purple">昨天</li>
                                <li class="green-on">今天</li>
                                <li class="pink">本周</li>
                            </ul>
                        </div>
                    </div>
                    <div class="tpl-scrollable">
                        <div class="number-stats">
                            <div class="stat-number am-fl am-u-md-6">
                                <div class="title am-text-right"> 平均</div>
                                <div class="number am-text-right am-text-warning"> 2460</div>
                            </div>
                            <div class="stat-number am-fr am-u-md-6">
                                <div class="title"> 平均</div>
                                <div class="number am-text-success"> 64</div>
                            </div>

                        </div>

                        <table class="am-table tpl-table">
                            <thead>
                            <tr class="tpl-table-uppercase">
                                <th>亲友</th>
                                <th>运动</th>
                                <th>心率</th>
                                <th>健康指数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <img src="../static/assets/img/user01.png" alt="" class="user-pic">
                                    <a class="user-name" href="">小张</a>
                                </td>
                                <td>3213s</td>
                                <td>65</td>
                                <td class="font-green bold">88%</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../static/assets/img/user02.png" alt="" class="user-pic">
                                    <a class="user-name" href="">Alex.</a>
                                </td>
                                <td>2635s</td>
                                <td>52</td>
                                <td class="font-green bold">75%</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../static/assets/img/user03.png" alt="" class="user-pic">
                                    <a class="user-name" href="">Tinker</a>
                                </td>
                                <td>1267s</td>
                                <td>65</td>
                                <td class="font-green bold">51%</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../static/assets/img/user04.png" alt="" class="user-pic">
                                    <a class="user-name" href="">Arron</a>
                                </td>
                                <td>657s</td>
                                <td>65</td>
                                <td class="font-green bold">73%</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../static/assets/img/user05.png" alt="" class="user-pic">
                                    <a class="user-name" href="">Yves</a>
                                </td>
                                <td>3907s</td>
                                <td>65</td>
                                <td class="font-green bold">72%</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="../static/assets/img/user06.png" alt="" class="user-pic">
                                    <a class="user-name" href="">小黄鸡</a>
                                </td>
                                <td>900s</td>
                                <td>65</td>
                                <td class="font-green bold">80%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="am-u-md-6 am-u-sm-12 row-mb">

                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <span>健康资讯</span>
                            <span class="caption-helper">16 </span>
                        </div>
                        <div class="tpl-portlet-input">
                            <div class="portlet-input input-small input-inline">
                                <div class="input-icon right">
                                    <i class="am-icon-search"></i>
                                    <input type="text" class="form-control form-control-solid" placeholder="搜索...">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="wrapper" class="wrapper">
                        <div id="scroller" class="scroller">
                            <ul class="tpl-task-list">
                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456005/')"> 家里的猫狗，会传染新冠状病毒吗？ </span>
                                        <span class="label label-sm label-success">果壳</span>
                                        <span class="task-bell">
                                            <i class="am-icon-bell-o"></i>
                                        </span>
                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/455993/')"> 冬季雪地撒欢，滑雪怎样安全又尽兴？ </span>
                                        <span class="label label-sm label-danger">运动</span>

                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456006/')"> “武汉小汤山”将如何快速建成，17年前留下哪些经验？小汤山设计者这样说 </span>
                                        <span class="label label-sm label-warning">新闻</span>

                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456010/')"> 非典往事：一社区疫情大爆发，病毒通过粪便传播可能是关键因素 </span>
                                        <span class="label label-sm " style="background-color:#58E000">健康</span>

                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456002/')"> 因各种疫情信息而无助、腹泻甚至失眠？你需要了解这些 </span>
                                        <span class="label label-sm " style="background-color:pink">心理</span>
                                        <span class="task-bell">
                                            <i class="am-icon-bell-o"></i>
                                        </span>
                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>


                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456000/')"> 我好像生病了，会不会是“疑似新冠状病毒肺炎”？ </span>
                                        <span class="label label-sm " style="background-color:#58E000">健康</span>

                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456156/')"> 在云南吃到扶墙走后，我们把一朵美味的“云”带了回来 </span>
                                        <span class="label label-sm " style="background-color:#FF8500">美食</span>

                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456136/')"> 春天吃野菜不是南方人的专利，北方人请求一战！ </span>
                                        <span class="label label-sm " style="background-color:#FF8500">美食</span>

                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="task-checkbox">
                                        <input type="hidden" value="1" name="test">
                                        <input type="checkbox" class="liChild" value="2" name="test"></div>
                                    <div class="task-title">
                                        <span style="cursor:pointer" class="task-title-sp"
                                              onclick="window.open('https://www.guokr.com/article/456166/')"> 听力不好，右眼失明，他如何成为真实世界的“蚁人”？ </span>
                                        <span class="label label-sm label-warning">物种</span>
                                        <span class="task-bell">
                                            <i class="am-icon-bell-o"></i>
                                        </span>
                                    </div>
                                    <div class="task-config">
                                        <div class="am-dropdown tpl-task-list-dropdown" data-am-dropdown="">
                                            <a href="" class="am-dropdown-toggle tpl-task-list-hover "
                                               data-am-dropdown-toggle="">
                                                <i class="am-icon-cog"></i> <span class="am-icon-caret-down"></span>
                                            </a>
                                            <ul class="am-dropdown-content tpl-task-list-dropdown-ul">
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-check"></i> 保存 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-pencil"></i> 编辑 </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:">
                                                        <i class="am-icon-trash-o"></i> 删除 </a>
                                                </li>
                                            </ul>


                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-md-6 am-u-sm-12 row-mb">
                <div class="tpl-portlet">
                    <div class="tpl-portlet-title">
                        <div class="tpl-caption font-green ">
                            <span>日常计划</span>
                        </div>

                    </div>

                    <div class="am-tabs tpl-index-tabs" data-am-tabs="">
                        <ul class="am-tabs-nav am-nav am-nav-tabs">
                            <li class="am-active"><a href="">进行中</a></li>
                            <li><a href="">已完成</a></li>
                        </ul>

                        <div class="am-tabs-bd">
                            <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                                <div id="wrapperA" class="wrapper">
                                    <div id="scroller" class="scroller">
                                        <ul class="tpl-task-list tpl-task-remind">
                                            <li>
                                                <div class="cosB">
                                                    12分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco">
                                                            <i class="am-icon-bell-o"></i>
                                                        </span>

                                                    <span class="tpl-label-info">
                                                            <i class="am-icon-share"></i>
                                                        </span>
                                                </div>

                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    36分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-danger">
                                                            <i class="am-icon-bolt"></i>
                                                        </span>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="cosB">
                                                    2小时前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-info">
                                                            <i class="am-icon-bullhorn"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    1天前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-warning">
                                                            <i class="am-icon-plus"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    12分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco">
                                                            <i class="am-icon-bell-o"></i>
                                                        </span>
                                                    <span class="tpl-label-info">
                                                            <i class="am-icon-share"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    36分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-danger">
                                                            <i class="am-icon-bolt"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    2小时前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-info">
                                                            <i class="am-icon-bullhorn"></i>
                                                        </span>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="am-tab-panel am-fade" id="tab2">
                                <div id="wrapperB" class="wrapper">
                                    <div id="scroller" class="scroller">
                                        <ul class="tpl-task-list tpl-task-remind">
                                            <li>
                                                <div class="cosB">
                                                    12分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco">
                                                            <i class="am-icon-bell-o"></i>
                                                        </span>
                                                    <span class="tpl-label-info">
                                                            <i class="am-icon-share"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    36分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-danger">
                                                            <i class="am-icon-bolt"></i>
                                                        </span>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="cosB">
                                                    2小时前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-info">
                                                            <i class="am-icon-bullhorn"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    1天前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-warning">
                                                            <i class="am-icon-plus"></i>
                                                        </span>
                                                </div>

                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    12分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco">
                                                            <i class="am-icon-bell-o"></i>
                                                        </span>

                                                    <span class="tpl-label-info">
                                                            <i class="am-icon-share"></i>
                                                        </span>
                                                </div>

                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    36分钟前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-danger">
                                                            <i class="am-icon-bolt"></i>
                                                        </span>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="cosB">
                                                    2小时前
                                                </div>
                                                <div class="cosA">
                                                        <span class="cosIco label-info">
                                                            <i class="am-icon-bullhorn"></i>
                                                        </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/assets/js/echarts-gl.min.js"></script>
<script type="text/javascript" src="../static/assets/js/ecStat.min.js"></script>
<script type="text/javascript" src="../static/assets/js/dataTool.min.js"></script>
<script type="text/javascript" src="../static/assets/js/china.js"></script>
<script type="text/javascript" src="../static/assets/js/world.js"></script>
<script type="text/javascript" src="../static/assets/js/bmap.min.js"></script>
<script type="text/javascript" src="../static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/assets/js/heart_info_view.js"></script>
<script src="../static/assets/js/jquery-2.1.1.js"></script>
<script src="../static/assets/js/amazeui.min.js"></script>
<script src="../static/assets/js/iscroll.js"></script>
<script src="../static/assets/js/app.js"></script>

</body>
</html>